/* chat.css */

.chat-room {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 4px;
  background: linear-gradient(135deg, var(--primary) 20%, var(--bg) 100%);
}

.chat-room header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-room header .right {
  margin-left: auto;
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.calling {
  animation: calling 2s ease-in-out infinite;
  outline: 2px solid;
}

@keyframes calling {
  50% {
    background-color: rebeccapurple;
  }
}

.chat-room header h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.chat-room .user-states>span {
  background-color: var(--primary-hover);
  border-radius: 20px;
  padding: 5px;
  animation: user-state-anim 2s ease-in-out infinite;
}

@keyframes user-state-anim {
  50% {
    background-color: rebeccapurple;
  }
}

.chat-room .user-states span span {
  background-color: var(--text);
  border-radius: 15px;
}

/* Expanded/zoomed chat data form */
.chat-room header #chat-data-form {
  position: fixed;
  z-index: 10000000000;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: var(--text-light);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* Ensure the fieldset width is controlled */
.chat-room header #chat-data-form fieldset {
  min-width: 60vmin;
  overflow: auto;
}

/* Full width for input and button elements */
.chat-room header #chat-data-form fieldset input,
.chat-room header #chat-data-form fieldset button {
  width: 100%;
}

/* Button positioning */
.chat-room header #chat-data-form button:first-child {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* QR code behavior */
.chat-room header .qr-code {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.chat-room header .qr-code:focus {
  position: absolute;
  top: calc(50vh - 50vmin);
  left: calc(50vw - 50vmin);
  z-index: 10000000001;
  height: 100vmin;
  width: 100vmin;
  outline: none;
  box-shadow: 10px 10px 100px 10px var(--bg);
}

/* New styles for scroll snap container for remote streams */
.scroll-snap-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 0.5rem 0;
}

.scroll-snap-container>* {
  scroll-snap-align: start;
  flex-shrink: 0;
  /* Optionally, set a width so each video takes the viewport width */
  width: 100%;
}

/* Apply object-fit: contain to all video elements */
.video-container video,
.scroll-snap-container video {
  object-fit: contain;
}