/* Main content area */
main {
    grid-area: main;
    padding: 0.25rem 1rem;
    overflow-y: auto;
}

/* Aside area (e.g., for join chat form) */
aside {
    grid-area: aside;
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid #ddd;
    height: 225px;
}

/* Responsive layout for wider screens */
@media (min-width: 768px) {
    .app-container {
        display: grid;
        height: 100vh;
        width: 100dvw;
        grid-template-areas:
            "header header"
            "nav main"
            "aside main";
        grid-template-columns: 220px 1fr;
        grid-template-rows: auto 1fr auto;
        width: 100dvw;
    }

    aside {
        border-top: none;
        border-left: 1px solid #ddd;
    }

    /* No Chat Selected Message */
    .no-chat-selected {
        text-align: center;
        color: #777;
    }
}

@media (max-width: 768px) {
    .app-container {
        height: calc(100dvh - 20px);
        display: flex;
        flex-direction: column;
    }

    .navigation {
        height: 50px;
        padding: 1px;
        margin: 0;
        width: 100dvw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #323232;
        outline: 2px solid #323232 !important;
    }

    .navigation .active {
        background-color: dodgerblue;
    }

    .nav-bar {
        width: 100dvw;
        height: calc(100dvh - 265px);
    }

    aside {
        width: 100dvw;
        height: 230px;
    }

    .chat-room {
        width: calc(100dvw - 40px);
        height: calc(100dvh - 43px);
        margin: auto;
    }

    .messages {
        height: calc(100dvh - 110px + 2.5rem - 120px) !important;
    }

    /* No Chat Selected Message */
    .no-chat-selected {
        width: calc(100dvw - 40px);
        height: calc(100dvh - 43px);
        text-align: center;
        color: #777;
    }

    .messages form {
        margin-bottom: 30px;
    }
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(76, 175, 80);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 142, 60);
}

/* For Firefox */
* {
    scrollbar-color: rgb(76, 175, 80) #f1f1f1;
    scrollbar-width: thin;
}