/* messages.css */

.messages {
    height: calc(100dvh - 110px + 2.5rem - 60px);
    min-height: 200px;
    overflow-y: auto;
}

.message {
    position: relative;
    line-break: anywhere;
    color: var(--text);
    padding: 0.5rem;
    border-radius: 5px;
    margin: 5px 0;
    width: 90%;
    transition: float 0.3s ease-in-out;
    float: right;
}

.message.own-msg {
    background-color: var(--own-msg-bg) !important;
    float: right;
}

.message.other {
    float: left;
}

.message.menagement-msg {
    float: left;
    background-color: var(--menagement-msg-bg) !important;
    color: var(--text-ni);
}

.message.menagement-msg * {
    color: var(--text-ni) !important;
}

.message:last-child {
    margin-bottom: 10px;
}

/* Entry animations */
.message.other:last-child {
    animation: come-in-left 0.5s ease-in-out forwards;
}

.message.own-msg:last-child {
    animation: come-in-right 0.5s ease-in-out forwards;
}

.message .meta {
    font-size: 0.8rem;
    color: var(--text-ni);
    position: absolute;
    right: 10px;
    bottom: -6px;
    display: flex;
    align-items: center;
}

.message .meta svg {
    cursor: pointer;
    margin: 0;
    padding: 0;
    transform: translateY(3px);
    border-radius: 10px;
    background-color: var(--bg);
}

.message .comments {
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
    border: 2px solid var(--text-ni);
}

.messages .menu {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5px;
    gap: 5px;
}

@keyframes come-in-left {
    0% {
        opacity: 0.5;
        transform: scale(0) rotate(30deg) translate(-100px, -100px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes come-in-right {
    0% {
        opacity: 0.5;
        transform: scale(0) rotate(-30deg) translate(100px, -100px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}