/* message-form.css */

.message-form {
    position: relative;
    z-index: 100;
    display: flex;
    gap: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 0 20px 0px var(--bg);
    padding: 10px;
}

.message-form textarea,
.message-form select {
    flex: 1;
    height: 40px;
    resize: none;
}

.message-form button {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border: none;
    color: var(--text);
    border-radius: 4px;
}

.message-form button:hover {
    background-color: var(--primary-hover);
}